In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data = pd.read_csv('50_Startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
data.shape

(50, 5)

In [4]:
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
data['State'] = data['State'].astype('category')
data['State'] = data['State'].cat.codes
data = pd.get_dummies(data,columns=['State'])
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_0,State_1,State_2
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [7]:
data.drop(['State_0'],axis=1,inplace=True)

Feature scalling and outlier treatment not required in the DT 

Regression DT : no need to check imbalance datasetm

In [8]:
# split the data x and y

x= data.drop(['Profit'],axis=1)
y=data.Profit

In [9]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=123)
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

# sklearn by default consider 75/25

((37, 5), (13, 5), (37,), (13,))

#### DT regression model with train dataset

In [10]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [11]:
ypred = dt.predict(xtest)

In [12]:
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.8852243531902462

In [13]:
ypred_train = dt.predict(xtrain)
r2_score(ytrain,ypred_train)

# Clearly overfit
# bad model
# random forest ---if DT overfit
# xgboost --- if DT underfit

1.0

### lets check in linear regression

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(xtrain,ytrain)
lr

LinearRegression()

In [15]:
lrpred = lr.predict(xtest)

In [16]:
r2_score(ytest,lrpred)

0.9617153570902561

In [17]:
lrpred_train = lr.predict(xtrain)

In [18]:
r2_score(ytrain,lrpred_train)

0.9430553895748356

#### Lets check with Random forest

In [19]:
from sklearn.ensemble import RandomForestRegressor
rf  = RandomForestRegressor(n_estimators=1000)
rf.fit(xtrain,ytrain)

RandomForestRegressor(n_estimators=1000)

In [20]:
rfpred = rf.predict(xtest)
rrfpredtrain = rf.predict(xtrain)

In [21]:
r2_score(ytest,rfpred)
# 0.8996931588794332
# 0.9301270345331213
# 0.9301270345331213
# 0.9281139349842079

0.9288968043419031

In [22]:
r2_score(ytrain,rrfpredtrain)

0.9852888944612244